<!DOCTYPE html>
<html>
  <head>
    <title>Metube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://apis.google.com/js/platform.js"  async defer></script>
    <meta name="google-signin-client_id" content="913398417254-hgqj42b4v6c6jsd8adri3u8k2ipr28ds.apps.googleusercontent.com">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
